Repository POLZZAK/POLZZAK-Android, pull requests merged in 2023-08, with the labels that each got.

#71 쿠폰 상세 화면 제작
  app/src/main/java/com/polzzak_android/presentation/common/compose/NoRippleTheme.kt
  app/src/main/java/com/polzzak_android/presentation/common/compose/Typo.kt
  app/src/main/java/com/polzzak_android/presentation/common/util/Extensions.kt
  app/src/main/java/com/polzzak_android/presentation/component/GlobalComponents.kt
  app/src/main/java/com/polzzak_android/presentation/feature/coupon/detail/CouponDetailComponents.kt
  app/src/main/java/com/polzzak_android/presentation/feature/coupon/detail/CouponDetailScreen.kt
  app/src/main/java/com/polzzak_android/presentation/feature/coupon/model/CouponDetailModel.kt
  app/src/main/java/com/polzzak_android/presentation/feature/coupon/model/CouponState.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/detail/screen/KidProtectorStampDetailScreen.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/detail/screen/ProtectorStampBoardDetailScreen.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/detail/screen/StampBoardDetailComponents.kt
  app/src/main/res/drawable/ic_arrow_right.xml
  app/src/main/res/drawable/img_logo_polzzak_text.xml
  app/src/main/res/layout/fragment_coupon_detail.xml
Labels: feat

#73 [FEAT] 바텀시트
  app/src/main/java/com/polzzak_android/presentation/common/adapter/MakeExampleMissionAdapter.kt
  app/src/main/java/com/polzzak_android/presentation/common/model/CommonButtonModel.kt
  app/src/main/java/com/polzzak_android/presentation/component/bottomsheet/CommonBottomSheetHelper.kt
  app/src/main/java/com/polzzak_android/presentation/component/bottomsheet/CommonBottomSheetModel.kt
  app/src/main/java/com/polzzak_android/presentation/component/bottomsheet/SelectUserFilterFragment.kt
  app/src/main/java/com/polzzak_android/presentation/component/bottomsheet/bindable/MissionListItem.kt
  app/src/main/java/com/polzzak_android/presentation/component/bottomsheet/bindable/UserInfoImageListItem.kt
  app/src/main/java/com/polzzak_android/presentation/component/bottomsheet/bindable/UserInfoListItem.kt
  app/src/main/java/com/polzzak_android/presentation/component/bottomsheet/model/SelectUserMakeBoardModel.kt
  app/src/main/java/com/polzzak_android/presentation/component/bottomsheet/model/SelectUserStampBoardModel.kt
  app/src/main/java/com/polzzak_android/presentation/component/dialog/CommonDialogModel.kt
  app/src/main/java/com/polzzak_android/presentation/feature/link/LinkDialogFactory.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/detail/kid/KidStampBoardDetailFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/main/progress/ProtectorProgressFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/main/protector/ProtectorMainFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/make/ExampleMissionHelper.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/make/MakeStampFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/make/exampleMission/ExampleMissionFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/make/intreraction/ExampleMissionInteraction.kt
  app/src/main/res/drawable/bg_black_r4.xml
  app/src/main/res/drawable/btn_modal_positive_disabled.xml
  app/src/main/res/drawable/selector_stroke_rectangle_r8_selected.xml
  app/src/main/res/drawable/selector_white_rectangle_r8_selected_blue.xml
  app/src/main/res/layout/common_bottom_sheet.xml
  app/src/main/res/layout/common_dialog.xml
  app/src/main/res/layout/fragment_example_mission.xml
  app/src/main/res/layout/fragment_select_user_filter.xml
  app/src/main/res/layout/item_mission.xml
  app/src/main/res/layout/item_profile.xml
  app/src/main/res/layout/item_user.xml
Labels: feat

#78 [FEAT] 쿠폰 상세 화면 조르기 카운트다운 버튼의 기능 추가
  app/src/main/java/com/polzzak_android/presentation/feature/coupon/detail/CouponDetailComponents.kt
  app/src/main/java/com/polzzak_android/presentation/feature/coupon/detail/CouponDetailScreen.kt
Labels: feat

#81 [CHORE] 툴바 컬러 업데이트 코드 추가 및 구조 변경
  app/src/main/java/com/polzzak_android/presentation/component/toolbar/ToolbarHelper.kt
  app/src/main/java/com/polzzak_android/presentation/feature/myPage/kid/KidMyPageFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/myPage/protector/ProtectorMyPageFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/make/MakeStampFragment.kt
Labels: feat

#88 [DESIGN] 온보딩+찾기 디자인 수정
  app/src/main/java/com/polzzak_android/presentation/feature/link/search/base/BaseSearchFragment.kt
  app/src/main/res/layout/fragment_search.xml
  app/src/main/res/layout/item_on_boarding_page.xml
Labels: design

#91 Feat/main stamp
  app/src/main/java/com/polzzak_android/data/di/ApiModule.kt
  app/src/main/java/com/polzzak_android/data/remote/model/response/MainStampBoardListResponse.kt
  app/src/main/java/com/polzzak_android/data/remote/service/StampBoardService.kt
  app/src/main/java/com/polzzak_android/data/repository/StampBoardRepository.kt
  app/src/main/java/com/polzzak_android/presentation/common/adapter/MainStampAdapter.kt
  app/src/main/java/com/polzzak_android/presentation/common/adapter/MainStampPagerAdapter.kt
  app/src/main/java/com/polzzak_android/presentation/component/toolbar/ToolbarHelper.kt
  app/src/main/java/com/polzzak_android/presentation/feature/auth/login/LoginFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/detail/protector/ProtectorStampBoardDetailFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/intercation/MainProgressInteraction.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/main/completed/ProtectorCompletedFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/main/progress/ProtectorProgressFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/main/protector/ProtectorMainFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/main/protector/StampViewModel.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/model/Partner.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/model/StampBoard.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/model/StampBoardModel.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/model/StampBoardSummary.kt
  app/src/main/res/drawable/ic_main_linked.xml
  app/src/main/res/layout/fragment_completed.xml
  app/src/main/res/layout/fragment_progress.xml
  app/src/main/res/layout/fragment_protector_main.xml
  app/src/main/res/layout/layout_toolbar.xml
  app/src/main/res/navigation/protector_nav_graph.xml
Labels: feat

#92 Fix/main stamp
  app/src/main/java/com/polzzak_android/data/remote/model/response/MainStampBoardListResponse.kt
  app/src/main/java/com/polzzak_android/data/repository/StampBoardRepository.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/main/progress/ProtectorProgressFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/main/protector/StampViewModel.kt
Labels: bug, critical
