Repository POLZZAK/POLZZAK-Android, pull requests merged in 2023-09, with the labels that each got.

#95 Feat/coupon
  app/src/main/java/com/polzzak_android/data/di/ApiModule.kt
  app/src/main/java/com/polzzak_android/data/remote/model/response/CouponListResponse.kt
  app/src/main/java/com/polzzak_android/data/remote/service/CouponService.kt
  app/src/main/java/com/polzzak_android/data/repository/CouponRepository.kt
  app/src/main/java/com/polzzak_android/presentation/common/adapter/MainCouponAdapter.kt
  app/src/main/java/com/polzzak_android/presentation/common/adapter/MainCouponPagerAdapter.kt
  app/src/main/java/com/polzzak_android/presentation/feature/coupon/main/content/CouponContainerInteraction.kt
  app/src/main/java/com/polzzak_android/presentation/feature/coupon/main/content/CouponContentFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/coupon/main/protector/CouponViewModel.kt
  app/src/main/java/com/polzzak_android/presentation/feature/coupon/main/protector/ProtectorCouponFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/coupon/model/CouponModel.kt
  app/src/main/res/drawable/ic_barcode.xml
  app/src/main/res/drawable/shape_rectangle_primary_r8_right.xml
  app/src/main/res/drawable/shape_rectangle_white_r8.xml
  app/src/main/res/layout/fragment_coupon_content.xml
  app/src/main/res/layout/fragment_protector_coupon.xml
  app/src/main/res/layout/item_coupon.xml
  app/src/main/res/layout/item_has_coupon.xml
  app/src/main/res/layout/item_has_not_coupon.xml
Labels: feat

#96 Feat/coupon UI fix
  app/build.gradle
  app/src/main/java/com/polzzak_android/data/di/ApiModule.kt
  app/src/main/java/com/polzzak_android/presentation/common/adapter/MainStampPagerAdapter.kt
  app/src/main/java/com/polzzak_android/presentation/feature/coupon/main/content/CouponContainerInteraction.kt
  app/src/main/java/com/polzzak_android/presentation/feature/coupon/main/content/CouponContentFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/coupon/main/protector/ProtectorCouponFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/main/completed/ProtectorCompletedFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/main/progress/ProtectorProgressFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/main/protector/StampLinkedUserViewModel.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/main/protector/StampViewModel.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/make/MakeStampViewModel.kt
  app/src/main/res/drawable/ic_info.xml
  app/src/main/res/drawable/ic_switch.xml
  app/src/main/res/layout/fragment_coupon_content.xml
  app/src/main/res/layout/fragment_progress.xml
  app/src/main/res/layout/fragment_protector_coupon.xml
  app/src/main/res/navigation/protector_nav_graph.xml
Labels: bug

#100 Feat/dialog chore
  app/src/main/java/com/polzzak_android/presentation/common/util/DateUtils.kt
  app/src/main/java/com/polzzak_android/presentation/common/util/SpannableUtil.kt
  app/src/main/java/com/polzzak_android/presentation/common/util/VisibilityUtils.kt
  app/src/main/java/com/polzzak_android/presentation/component/dialog/CommonDialogHelper.kt
  app/src/main/java/com/polzzak_android/presentation/component/dialog/CommonDialogModel.kt
  app/src/main/java/com/polzzak_android/presentation/component/dialog/SelectedDateModel.kt
  app/src/main/java/com/polzzak_android/presentation/feature/link/LinkDialogFactory.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/detail/kid/KidStampBoardDetailFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/main/protector/ProtectorMainFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/make/MakeStampFragment.kt
  app/src/main/res/layout/common_dialog.xml
  app/src/main/res/layout/item_dialog_mission_list.xml
Labels: feat

#101 [FEAT] 고객센터
  app/src/main/java/com/polzzak_android/presentation/common/util/BindableItemAdapter.kt
  app/src/main/java/com/polzzak_android/presentation/feature/myPage/model/FAQList.kt
  app/src/main/java/com/polzzak_android/presentation/feature/myPage/model/FAQModel.kt
  app/src/main/java/com/polzzak_android/presentation/feature/myPage/protector/ProtectorMyPageFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/myPage/protector/cs/ProtectorCSFragment.kt
  app/src/main/res/drawable/ic_arrow_down.xml
  app/src/main/res/drawable/ic_arrow_up.xml
  app/src/main/res/drawable/selector_bg_cs_menu.xml
  app/src/main/res/layout/fragment_protector_c_s.xml
  app/src/main/res/layout/item_faq.xml
  app/src/main/res/navigation/protector_nav_graph.xml
Labels: feat

#104 Feat/bottom sheet modify
  app/src/main/java/com/polzzak_android/presentation/component/bottomsheet/CommonBottomSheetHelper.kt
  app/src/main/java/com/polzzak_android/presentation/component/bottomsheet/CommonBottomSheetModel.kt
  app/src/main/java/com/polzzak_android/presentation/feature/coupon/main/content/CouponContentFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/detail/protector/ProtectorStampBoardDetailFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/main/progress/ProtectorProgressFragment.kt
  app/src/main/res/drawable/bg_gray_stroke_light_gray_bg_r8.xml
  app/src/main/res/layout/common_bottom_sheet.xml
Labels: feat

#110 아이 도장판 상세 동작 구현
  app/src/main/java/com/polzzak_android/data/remote/model/request/StampRequest.kt
  app/src/main/java/com/polzzak_android/data/remote/service/StampBoardService.kt
  app/src/main/java/com/polzzak_android/data/repository/StampBoardRepository.kt
  app/src/main/java/com/polzzak_android/presentation/common/adapter/MainStampAdapter.kt
  app/src/main/java/com/polzzak_android/presentation/common/adapter/MainStampPagerAdapter.kt
  app/src/main/java/com/polzzak_android/presentation/common/compose/ComposeUtil.kt
  app/src/main/java/com/polzzak_android/presentation/common/util/Extensions.kt
  app/src/main/java/com/polzzak_android/presentation/component/GlobalComponents.kt
  app/src/main/java/com/polzzak_android/presentation/component/dialog/FullLoadingDialog.kt
  app/src/main/java/com/polzzak_android/presentation/feature/myPage/notice/MyNoticeViewModel.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/detail/StampBoardDetailViewModel.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/detail/kid/KidStampBoardDetailFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/detail/protector/ProtectorStampBoardDetailFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/detail/screen/KidProtectorStampDetailScreen.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/detail/screen/ProtectorStampBoardDetailScreen.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/detail/screen/StampBoardDetailComponents.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/detail/screen/StampBoardDetailSkeleton.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/intercation/MainProgressInteraction.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/main/kid/KidMainFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/main/progress/ProtectorProgressFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/model/StampBoardDetailModel.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/model/StampBoardModel.kt
  app/src/main/res/layout/dialog_full_loading_opacity.xml
  app/src/main/res/layout/fragment_kid_main.xml
  app/src/main/res/layout/fragment_kid_stamp_board_detail.xml
Labels: feat

#114 Feat/main UI upgrade
  app/src/main/java/com/polzzak_android/data/remote/service/StampBoardService.kt
  app/src/main/java/com/polzzak_android/presentation/common/adapter/MainStampCompletedAdapter.kt
  app/src/main/java/com/polzzak_android/presentation/common/adapter/MainStampCompletedPagerAdapter.kt
  app/src/main/java/com/polzzak_android/presentation/common/adapter/MakeExampleMissionAdapter.kt
  app/src/main/java/com/polzzak_android/presentation/common/adapter/MakeStampMissionAdapter.kt
  app/src/main/java/com/polzzak_android/presentation/common/util/BindableItemAdapter.kt
  app/src/main/java/com/polzzak_android/presentation/component/bottomsheet/CommonBottomSheetHelper.kt
  app/src/main/java/com/polzzak_android/presentation/component/bottomsheet/CommonBottomSheetModel.kt
  app/src/main/java/com/polzzak_android/presentation/component/bottomsheet/bindable/ExampleMissionListItem.kt
  app/src/main/java/com/polzzak_android/presentation/component/bottomsheet/bindable/UserInfoImageListItem.kt
  app/src/main/java/com/polzzak_android/presentation/component/toolbar/ToolbarHelper.kt
  app/src/main/java/com/polzzak_android/presentation/feature/myPage/protector/cs/ProtectorCSFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/root/host/ProtectorHostFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/intercation/MainCompletedInteraction.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/main/completed/ProtectorCompletedFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/main/progress/ProtectorProgressFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/main/protector/StampViewModel.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/make/ExampleMissionHelper.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/make/MakeStampFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/make/MakeStampViewModel.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/make/exampleMission/ExampleMissionFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/make/intreraction/ExampleMissionInteraction.kt
  app/src/main/res/drawable/ic_close.xml
  app/src/main/res/drawable/ic_coupon_completed.xml
  app/src/main/res/drawable/shape_rectangle_gray_500_r8.xml
  app/src/main/res/layout/common_bottom_sheet.xml
  app/src/main/res/layout/common_dialog.xml
  app/src/main/res/layout/common_dialog_mission.xml
  app/src/main/res/layout/fragment_completed.xml
  app/src/main/res/layout/fragment_example_mission.xml
  app/src/main/res/layout/fragment_make_stamp.xml
  app/src/main/res/layout/fragment_progress.xml
  app/src/main/res/layout/fragment_select_user_filter.xml
  app/src/main/res/layout/item_mission.xml
  app/src/main/res/layout/item_profile.xml
  app/src/main/res/layout/item_stamp_completed.xml
  app/src/main/res/layout/item_stamp_mission.xml
  app/src/main/res/navigation/protector_nav_graph.xml
Labels: feat

#118 아이 화면 UI 작업 1
  app/src/main/java/com/polzzak_android/presentation/common/adapter/MainStampAdapter.kt
  app/src/main/java/com/polzzak_android/presentation/common/adapter/MainStampCompletedAdapter.kt
  app/src/main/java/com/polzzak_android/presentation/component/bottomsheet/CommonBottomSheetModel.kt
  app/src/main/java/com/polzzak_android/presentation/feature/root/host/KidHostFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/root/host/ProtectorHostFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/main/completed/ProtectorCompletedFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/main/progress/ProtectorProgressFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/make/MakeStampFragment.kt
  app/src/main/res/layout/common_bottom_sheet.xml
  app/src/main/res/layout/item_stamp_non.xml
Labels: feat

#120 [DESIGN] BottomNav 메뉴 UI 작업
  app/src/main/res/color/selector_bottom_nav_icon_color.xml
  app/src/main/res/color/selector_bottom_nav_text_color.xml
  app/src/main/res/drawable/ic_menu_coupon.xml
  app/src/main/res/drawable/ic_menu_main_stamp.xml
  app/src/main/res/drawable/ic_menu_mypage.xml
  app/src/main/res/drawable/ic_menu_notification.xml
  app/src/main/res/layout/fragment_kid_host.xml
  app/src/main/res/layout/fragment_protector_host.xml
  app/src/main/res/menu/kid_bottom_nav_menu.xml
  app/src/main/res/menu/protector_bottom_nav_menu.xml
  app/src/main/res/values/style.xml
Labels: design

#121 [FEAT] dialog 쿠폰 캡쳐 추가
  app/src/main/java/com/polzzak_android/presentation/common/util/VisibilityUtils.kt
  app/src/main/java/com/polzzak_android/presentation/component/dialog/CommonDialogModel.kt
  app/src/main/res/layout/common_dialog.xml
Labels: feat

#122 아이 쿠폰 상세 구현 및 기타 작업
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/polzzak_android/data/remote/model/response/CouponDetailDto.kt
  app/src/main/java/com/polzzak_android/data/remote/model/response/CouponDetailResponse.kt
  app/src/main/java/com/polzzak_android/data/remote/service/CouponService.kt
  app/src/main/java/com/polzzak_android/data/repository/CouponRepository.kt
  app/src/main/java/com/polzzak_android/presentation/common/adapter/MainCouponAdapter.kt
  app/src/main/java/com/polzzak_android/presentation/common/util/FragmentUtil.kt
  app/src/main/java/com/polzzak_android/presentation/component/CouponImageView.kt
  app/src/main/java/com/polzzak_android/presentation/component/dialog/CommonDialogHelper.kt
  app/src/main/java/com/polzzak_android/presentation/component/dialog/CommonDialogModel.kt
  app/src/main/java/com/polzzak_android/presentation/feature/coupon/detail/CouponDetailComponents.kt
  app/src/main/java/com/polzzak_android/presentation/feature/coupon/detail/CouponDetailScreen.kt
  app/src/main/java/com/polzzak_android/presentation/feature/coupon/detail/CouponDetailViewModel.kt
  app/src/main/java/com/polzzak_android/presentation/feature/coupon/detail/kid/KidCouponDetailFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/coupon/main/content/CouponContentFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/coupon/main/kid/KidCouponFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/coupon/model/CouponDetailModel.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/detail/kid/KidStampBoardDetailFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/detail/screen/StampBoardDetailComponents.kt
  app/src/main/res/drawable/ic_picture.xml
  app/src/main/res/layout/common_dialog.xml
  app/src/main/res/layout/fragment_coupon_detail.xml
  app/src/main/res/layout/fragment_kid_coupon.xml
  app/src/main/res/layout/fragment_kid_main.xml
  app/src/main/res/layout/item_has_coupon.xml
  app/src/main/res/layout/item_has_not_coupon.xml
  app/src/main/res/layout/layout_toolbar.xml
  app/src/main/res/navigation/kid_nav_graph.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/themes.xml
Labels: feat, design

#124 [FIX] 쿠폰 이미지 저장 시 crash 발생 수정
  app/src/main/java/com/polzzak_android/presentation/component/dialog/CommonDialogHelper.kt
  app/src/main/java/com/polzzak_android/presentation/component/dialog/CommonDialogModel.kt
  app/src/main/java/com/polzzak_android/presentation/feature/coupon/detail/kid/KidCouponDetailFragment.kt
Labels: critical

#133 QA 이슈 수정
  app/src/main/java/com/polzzak_android/data/remote/model/request/ReceiveCouponRequest.kt
  app/src/main/java/com/polzzak_android/data/remote/service/StampBoardService.kt
  app/src/main/java/com/polzzak_android/data/repository/StampBoardRepository.kt
  app/src/main/java/com/polzzak_android/presentation/common/util/Extensions.kt
  app/src/main/java/com/polzzak_android/presentation/feature/coupon/detail/CouponDetailComponents.kt
  app/src/main/java/com/polzzak_android/presentation/feature/coupon/detail/CouponDetailScreen.kt
  app/src/main/java/com/polzzak_android/presentation/feature/coupon/main/content/CouponContentFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/detail/StampBoardDetailViewModel.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/detail/kid/KidStampBoardDetailFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/detail/screen/StampBoardDetailComponents.kt
  app/src/main/java/com/polzzak_android/presentation/feature/stamp/model/StampBoardDetailModel.kt
Labels: normal

#135 마이페이지-포인트 관련 구현
  app/build.gradle
  app/src/main/.DS_Store
  app/src/main/java/com/polzzak_android/data/di/ApiModule.kt
  app/src/main/java/com/polzzak_android/data/di/RepositoryModule.kt
  app/src/main/java/com/polzzak_android/data/remote/model/response/PointHistoryDto.kt
  app/src/main/java/com/polzzak_android/data/remote/model/response/PointHistoryResponse.kt
  app/src/main/java/com/polzzak_android/data/remote/model/response/RankingDto.kt
  app/src/main/java/com/polzzak_android/data/remote/model/response/RankingResponse.kt
  app/src/main/java/com/polzzak_android/data/remote/service/PointService.kt
  app/src/main/java/com/polzzak_android/data/repository/PointRepository.kt
  app/src/main/java/com/polzzak_android/presentation/common/compose/Typo.kt
  app/src/main/java/com/polzzak_android/presentation/component/CheckedProgressView.kt
  app/src/main/java/com/polzzak_android/presentation/feature/myPage/components/PointHistoryComponents.kt
  app/src/main/java/com/polzzak_android/presentation/feature/myPage/components/PointRuleComponents.kt
  app/src/main/java/com/polzzak_android/presentation/feature/myPage/components/RankingComponents.kt
  app/src/main/java/com/polzzak_android/presentation/feature/myPage/kid/KidMyPageFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/myPage/model/PointHistoryItemModel.kt
  app/src/main/java/com/polzzak_android/presentation/feature/myPage/model/PointHistoryModel.kt
  app/src/main/java/com/polzzak_android/presentation/feature/myPage/model/RankingItemModel.kt
  app/src/main/java/com/polzzak_android/presentation/feature/myPage/model/RankingScreenModel.kt
  app/src/main/java/com/polzzak_android/presentation/feature/myPage/point/history/PointHistoryFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/myPage/point/history/PointHistoryScreen.kt
  app/src/main/java/com/polzzak_android/presentation/feature/myPage/point/history/PointHistoryViewModel.kt
  app/src/main/java/com/polzzak_android/presentation/feature/myPage/point/ranking/kid/KidRankingFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/myPage/point/ranking/kid/KidRankingScreen.kt
  app/src/main/java/com/polzzak_android/presentation/feature/myPage/point/ranking/kid/KidRankingViewModel.kt
  app/src/main/java/com/polzzak_android/presentation/feature/myPage/point/ranking/protector/ProtectorRankingFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/myPage/point/ranking/protector/ProtectorRankingSrceen.kt
  app/src/main/java/com/polzzak_android/presentation/feature/myPage/point/ranking/protector/ProtectorRankingViewModel.kt
  app/src/main/java/com/polzzak_android/presentation/feature/myPage/point/rules/PointRuleFragment.kt
  app/src/main/java/com/polzzak_android/presentation/feature/myPage/point/rules/kid/KidPointRuleScreen.kt
  app/src/main/java/com/polzzak_android/presentation/feature/myPage/point/rules/protector/ProtectorPointRuleScreen.kt
  app/src/main/java/com/polzzak_android/presentation/feature/myPage/protector/ProtectorMyPageFragment.kt
  app/src/main/res/.DS_Store
  app/src/main/res/drawable/ic_clock.xml
  app/src/main/res/drawable/ic_megaphone.xml
  app/src/main/res/drawable/ic_negative_circle.xml
  app/src/main/res/drawable/ic_point_history_decrease.xml
  app/src/main/res/drawable/ic_point_history_increase.xml
  app/src/main/res/drawable/ic_positive_circle.xml
  app/src/main/res/drawable/ic_ranking_down.xml
  app/src/main/res/drawable/ic_ranking_hold.xml
  app/src/main/res/drawable/ic_ranking_up.xml
  app/src/main/res/drawable/img_confetti.png
  app/src/main/res/layout/fragment_point_history.xml
  app/src/main/res/layout/fragment_point_ranking.xml
  app/src/main/res/layout/fragment_point_rule.xml
  app/src/main/res/navigation/kid_nav_graph.xml
  app/src/main/res/navigation/protector_nav_graph.xml
  app/src/main/res/values/strings.xml
Labels: feat
